In [1]:
import pandas as pd

# Load hourly preprocessed data from Module 2
df_hourly = pd.read_csv(
    'data/train_data.csv',
    index_col=0,
    parse_dates=True
)

df_hourly.shape

(10734, 11)

In [2]:
df_feat = df_hourly.copy()

df_feat['hour'] = df_feat.index.hour
df_feat['day'] = df_feat.index.day
df_feat['weekday'] = df_feat.index.weekday
df_feat['month'] = df_feat.index.month

In [3]:
df_feat[['hour', 'day', 'weekday', 'month']].head()

                     hour  day  weekday  month
Time
2013-10-09 13:00:00    13    9        2     10
2013-10-09 14:00:00    14    9        2     10
2013-10-09 15:00:00    15    9        2     10
2013-10-09 16:00:00    16    9        2     10
2013-10-09 17:00:00    17    9        2     10

In [4]:
appliance_cols = [
    'Fridge', 'Chest_Freezer', 'Upright_Freezer',
    'Tumble_Dryer', 'Washing_Machine', 'Dishwasher',
    'Computer_Site', 'Television_Site', 'Heater'
]

In [5]:
df_feat['total_appliance_load'] = df_feat[appliance_cols].sum(axis=1)
df_feat['mean_appliance_load'] = df_feat[appliance_cols].mean(axis=1)
df_feat['max_appliance_load'] = df_feat[appliance_cols].max(axis=1)

In [6]:
df_feat[['total_appliance_load',
         'mean_appliance_load',
         'max_appliance_load']].head()

,total_appliance_load,mean_appliance_load,max_appliance_load
Time,,,
2013-10-09 13:00:00,0.099557,0.011062,0.063070
2013-10-09 14:00:00,0.144058,0.016006,0.077353
2013-10-09 15:00:00,0.127659,0.014184,0.081799
2013-10-09 16:00:00,0.186484,0.020720,0.096458
2013-10-09 17:00:00,0.249327,0.027703,0.109282

In [7]:
df_feat['Aggregate_lag1'] = df_feat['Aggregate'].shift(1)
df_feat['Aggregate_lag24'] = df_feat['Aggregate'].shift(24)

In [8]:
df_feat[['Aggregate',
         'Aggregate_lag1',
         'Aggregate_lag24']].head(30)

                     Aggregate  Aggregate_lag1  Aggregate_lag24
Time
2013-10-09 13:00:00   0.033090             NaN              NaN
2013-10-09 14:00:00   0.020433        0.033090              NaN
2013-10-09 15:00:00   0.003480        0.020433              NaN
2013-10-09 16:00:00   0.012638        0.003480              NaN
2013-10-09 17:00:00   0.013786        0.012638              NaN
2013-10-09 18:00:00   0.020273        0.013786              NaN
2013-10-09 19:00:00        NaN        0.020273              NaN
2013-10-09 20:00:00        NaN             NaN              NaN
2013-10-09 21:00:00   0.060501             NaN              NaN
2013-10-09 22:00:00   0.027844        0.060501              NaN
2013-10-09 23:00:00        NaN        0.027844              NaN
2013-10-10 00:00:00   0.009152             NaN              NaN
2013-10-10 01:00:00   0.007691        0.009152              NaN
2013-10-10 02:00:00   0.006700        0.007691              NaN
2013-10-10 03:00:00   0.007659        0.006700              NaN
2013-10-10 04:00:00   0.008946        0.007659              NaN
2013-10-10 05:00:00   0.014204        0.008946              NaN
2013-10-10 06:00:00   0.027555        0.014204              NaN
2013-10-10 07:00:00   0.017648        0.027555              NaN
2013-10-10 08:00:00   0.005998        0.017648              NaN
2013-10-10 09:00:00   0.080363        0.005998              NaN
2013-10-10 10:00:00   0.085320        0.080363              NaN
2013-10-10 11:00:00   0.065127        0.085320              NaN
2013-10-10 12:00:00   0.088583        0.065127              NaN
2013-10-10 13:00:00   0.008480        0.088583         0.033090
2013-10-10 14:00:00   0.003463        0.008480         0.020433
2013-10-10 15:00:00   0.006978        0.003463         0.003480
2013-10-10 16:00:00   0.005742        0.006978         0.012638
2013-10-10 17:00:00   0.026640        0.005742         0.013786
2013-10-10 18:00:00   0.085454        0.026640         0.020273

In [9]:
df_feat['Aggregate_roll3'] = df_feat['Aggregate'].rolling(window=3).mean()
df_feat['Aggregate_roll24'] = df_feat['Aggregate'].rolling(window=24).mean()

In [10]:
df_feat[['Aggregate',
         'Aggregate_roll3',
         'Aggregate_roll24']].head(30)

                     Aggregate  Aggregate_roll3  Aggregate_roll24
Time
2013-10-09 13:00:00   0.033090              NaN               NaN
2013-10-09 14:00:00   0.020433              NaN               NaN
2013-10-09 15:00:00   0.003480         0.019001               NaN
2013-10-09 16:00:00   0.012638         0.012184               NaN
2013-10-09 17:00:00   0.013786         0.009968               NaN
2013-10-09 18:00:00   0.020273         0.015565               NaN
2013-10-09 19:00:00        NaN              NaN               NaN
2013-10-09 20:00:00        NaN              NaN               NaN
2013-10-09 21:00:00   0.060501              NaN               NaN
2013-10-09 22:00:00   0.027844              NaN               NaN
2013-10-09 23:00:00        NaN              NaN               NaN
2013-10-10 00:00:00   0.009152              NaN               NaN
2013-10-10 01:00:00   0.007691              NaN               NaN
2013-10-10 02:00:00   0.006700         0.007847               NaN
2013-10-10 03:00:00   0.007659         0.007350               NaN
2013-10-10 04:00:00   0.008946         0.007768               NaN
2013-10-10 05:00:00   0.014204         0.010269               NaN
2013-10-10 06:00:00   0.027555         0.016901               NaN
2013-10-10 07:00:00   0.017648         0.019802               NaN
2013-10-10 08:00:00   0.005998         0.017067               NaN
2013-10-10 09:00:00   0.080363         0.034670               NaN
2013-10-10 10:00:00   0.085320         0.057227               NaN
2013-10-10 11:00:00   0.065127         0.076937               NaN
2013-10-10 12:00:00   0.088583         0.079677               NaN
2013-10-10 13:00:00   0.008480         0.054064               NaN
2013-10-10 14:00:00   0.003463         0.033509               NaN
2013-10-10 15:00:00   0.006978         0.006307               NaN
2013-10-10 16:00:00   0.005742         0.005394               NaN
2013-10-10 17:00:00   0.026640         0.013120               NaN
2013-10-10 18:00:00   0.085454         0.039279               NaN

In [11]:
df_feat.isna().sum()

Unix                    1710
Aggregate               1710
Fridge                  1710
Chest_Freezer           1710
Upright_Freezer         1710
Tumble_Dryer            1710
Washing_Machine         1710
Dishwasher              1710
Computer_Site           1710
Television_Site         1710
Heater                  1710
hour                       0
day                        0
weekday                    0
month                      0
total_appliance_load       0
mean_appliance_load     1710
max_appliance_load      1710
Aggregate_lag1          1711
Aggregate_lag24         1734
Aggregate_roll3         2566
Aggregate_roll24        6914
dtype: int64

In [12]:
df_feat = df_feat.dropna()
df_feat.shape

(3702, 22)

In [13]:
X = df_feat.drop(columns=['Aggregate'])
y = df_feat['Aggregate']

In [14]:
X.shape, y.shape

((3702, 21), (3702,))

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

X_scaled = pd.DataFrame(
    X_scaled,
    index=X.index,
    columns=X.columns
)

In [16]:
X_scaled.describe()

,Unix,Fridge,Chest_Freezer,Upright_Freezer,Tumble_Dryer,Washing_Machine,Dishwasher,Computer_Site,Television_Site,Heater,...,day,weekday,month,total_appliance_load,mean_appliance_load,max_appliance_load,Aggregate_lag1,Aggregate_lag24,Aggregate_roll3,Aggregate_roll24
count,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,...,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000,3702.000000
mean,0.560948,0.300872,0.235573,0.265798,0.003585,0.010421,0.008576,0.065897,0.034803,0.030832,...,0.504799,0.491446,0.584721,0.114242,0.114242,0.091108,0.050392,0.037877,0.094120,0.197115
std,0.247721,0.280840,0.108520,0.108731,0.038697,0.060397,0.071147,0.190191,0.054442,0.128970,...,0.297812,0.336830,0.277344,0.107007,0.107007,0.112895,0.067823,0.052627,0.106347,0.151608
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.424579,0.000000,0.160661,0.185829,0.000000,0.000000,0.000000,0.000000,0.000000,0.000008,...,0.233333,0.166667,0.454545,0.065787,0.065787,0.044722,0.012802,0.009184,0.021273,0.100618
50%,0.586308,0.270646,0.237126,0.279396,0.000000,0.000000,0.000000,0.000000,0.000000,0.000008,...,0.533333,0.500000,0.545455,0.079510,0.079510,0.054274,0.020792,0.015331,0.056359,0.147039
75%,0.739146,0.553681,0.331730,0.358144,0.000000,0.000000,0.000000,0.000000,0.077802,0.000008,...,0.766667,0.833333,0.818182,0.124085,0.124085,0.098257,0.059678,0.044250,0.124307,0.255062
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
X_scaled.to_csv('data/features_X.csv')
y.to_csv('data/target_y.csv')